@model Hotel_Relational_Database_5_5.Models.ReservationModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reservations</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Guest.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guest.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Room.RoomID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.RoomID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReservationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
